@font-face { 
    font-family: 'MyWebFont'; 
    src: url('../fonts/proximanova-reg-webfont.woff'); 
    src: url('../fonts/proximanova-reg-webfont.woff?#iefix') format('embedded-opentype'), 
    url('../fonts/proximanova-reg-webfont.woff') format('woff')    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MyWebFont;
}

html,
body {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/*---------------------*/
/*NAVBAR*/

.navbar-section {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 2.5rem;
}

.options {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    list-style: none;    
}

.option {    
    text-align: center;
    font-weight: bold;
}

a {
    outline: none;
    color: #000;
    font-weight: bold;
    display: flex;    
}

a:hover,
a:active {
    cursor: pointer;
}

.hide-link {
    display: none;
    margin-right: 0.5rem;
}
/*NAVBAR*/
/*---------------------*/

/*---------------------*/
/*BACKGROUND*/
.background {
    background-image: url('../assets/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: #231239;
    position: relative;
    height: 100vh;
}

.background-title {
    color: #fff;
    position: absolute;
    top: 9rem;
    left: 2rem;
    font-size: 3rem;
}
/*BACKGROUND*/
/*---------------------*/

/*------------------------*/
/*DETAIL SECTION*/

.detail {
    background: #F1F5F8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-title { 
    margin: 1.5rem 1rem;
}

.detail-title_title {
    color: #373737;
    font-size: 1.3rem;
    font-weight: 600;
}

.review {
    background: #fff;
    margin: 0;
    height: 100%;    
    border-radius: 0.2rem;    
}

.review-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.review-title_title {
    grid-column: span 2;
}

.card-title {
    padding: 2.5rem 3rem 0 3rem;
}

.review-title_stars {
    display: none;
    padding: 2.5rem 3rem 0 3rem;    
}

.stars {
    background-image: url('../assets/stars.svg');
    background-position: center;
    background-size: cover;
    height: 1rem;
    width: 8rem;      
}

.rewards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    display: flex;
    align-items: center;
}

.card-image {
    background: url('../assets/credit-card.svg');
    background-position: center;
    background-size: cover;
    width: 204px; 
    height: 129px; 
    margin: 2.5rem 0rem 0 3rem;
}

.card-status {
    text-align: center;
    margin-left: 1.5rem;
}

.card-status-title {
    display: none;
}

.badge {
    margin-top: 0.5rem;
    color: #fff;
    background-color: #59D8D1;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}

.bonuses-list {
    margin: 0 3rem;
}

.bonus {
    margin: 1.5rem 1rem;
    font-weight: 600;
}

/*DETAIL SECTION*/
/*------------------------*/

/*------------------------*/
/*Media queries*/

@media (min-width: 59rem) {
    .rewards {
        grid-template-columns: 1fr 1fr;
    }
    
    .card-status-title {
        display: block;
    }
}

@media (min-width: 54rem) {
    .review-title_title {        
        grid-column: span 1;
    }
    
    .review-title_stars {
        display: flex;
        align-items: center;       
        justify-content: flex-end; 
        margin-right: 5rem;
    }
}

@media (min-width: 35rem) {
    .hide-link {
        display: block;
    }

    .background-title {
        font-size: 5rem;
    }

    .background {
        height: 100%;
    }

    .detail-title {
        margin: 3rem 3rem 0 3rem;    
    }

    .detail-title_title {
        font-size: 2rem;
    }

    .review {
        margin: 0 3rem 3rem 3rem;
    }
}
