@font-face { 
    font-family: 'MyWebFont'; 
    src: url('../fonts/proximanova-reg-webfont.woff'); 
    src: url('../fonts/proximanova-reg-webfont.woff?#iefix') format('embedded-opentype'), 
    url('../fonts/proximanova-reg-webfont.woff') format('woff')    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MyWebFont;
}

html,
body {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/*---------------------*/
/*NAVBAR*/

.navbar-section {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 2.5rem;
}

.options {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    list-style: none;    
}

.option {    
    text-align: center;
    font-weight: bold;
}

a {
    outline: none;
    color: #000;
    font-weight: bold;
    display: flex;    
}

a:hover,
a:active {
    cursor: pointer;
}

.hide-link {
    display: none;
    margin-right: 0.5rem;
}
/*NAVBAR*/
/*---------------------*/

/*---------------------*/
/*BACKGROUND*/
.background {
    background-image: url('../assets/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: #231239;
    position: relative;
}

.background-title {
    color: #fff;
    position: absolute;
    top: 9rem;
    left: 2rem;
    font-size: 3rem;
}
/*BACKGROUND*/
/*---------------------*/

/*------------------------*/
/*DETAIL SECTION*/

.detail {
    background: #F1F5F8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-title { 
    margin: 1.5rem 1rem;
}

.detail-title_title {
    color: #373737;
    font-size: 1.3rem;
    font-weight: 600;
}

.review {
    background: #fff;
    margin: 0;
    height: 21rem;    
    border-radius: 0.2rem;
}

/*DETAIL SECTION*/
/*------------------------*/

/*------------------------*/
/*Media queries*/

@media (min-width: 35rem) {
    .hide-link {
        display: block;
    }

    .background-title {
        font-size: 5rem;
    }

    .detail-title {
        margin: 3rem 3rem 0 3rem;    
    }

    .detail-title_title {
        font-size: 2rem;
    }

    .review {
        margin: 0 3rem 3rem 3rem;
    }
}
